<div class="tab-pane active" id="<%= object.description.downcase.tr(" ","_") %>">
  <% object.projects.order("id asc").each do |project| %>
    
    
      

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
          <a name="<%= project.id %>"></a>
          <h2><%= project.name.upcase %></h2>
        </div>
        <% if signed_in? %>
          <div class="col-xs-1 col-lg-1">
            <div style="margin-top: 22px">
            <%= link_to bs3glyphincon('pencil'), edit_project_path(project) %>
            </div>
          </div>
        <% end %>

      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-push-4">

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body">
              <%= project.description.html_safe %>
            </div>
            <% if !project.url.nil? && !project.url.empty?  %>
              <div class="panel-footer">
                <strong>Url:</strong>&nbsp;<%= link_to project.name.titleize, project.url, :target => "_blank" %>
              </div>
            <% end %>
          </div>
        </div>
        <%= render 'resources', project: project, description: object.description %>

        
      </div>
      
    </div>
  <% end %>
</div>