<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<%= form_tag sessions_path do %>
  <div class="row-fluid">
    <div class="span4 offset4">
      <%= label_tag :username %>
      <%= text_field_tag :username, params[:username], class: "span12" %>

      <%= label_tag :password %>
      <%= password_field_tag :password, '', class: "span12" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4 offset4">
      <%= submit_tag "Sign in", class: "btn btn-primary span4" %>
    </div>
  </div>
<% end%>