<% provide(:title, "Edit Sector") %>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
    <ul class="breadcrumb">
      <li>
        <%= link_to "Back", :back %>
        <span class="divider"></span>
      </li>
      <li>
        <%= link_to "New", new_sector_path %>
        <span class="divider"></span>
      </li>
      <li>
        <%= link_to "Delete", @sector, method: :delete, data: { confirm: "You sure?" } %>
      </li>
    </ul>
  </div>
</div>

<%= form_for @sector do |f| %>
  <%= render 'fields', f: f %>
<% end %>