<% # include_javascript 'welcome/main.js' %>

<% content_for :sitenavbarlinks do %>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#home">01. Projects</a></li>
    <li><a href="#about">02. About</a></li>
    <li><a href="#skills">03. Skills</a></li>
  </ul>
<% end %>

<%= render 'layouts/site_navbar' %>

<div id="home" class="full-panel">
  <div id="cover">
    <span>01. see my <%= link_to "Projects", "/home" %></span>
  </div>  
</div>

<div class="welcome-container">
  <div class="row">
    <%= render 'about' %>
    <%= render 'skills' %>
    

  </div>
  <div class="col-md-12 full-panel footer">
    <div>
      <p>
        <span class="twitter-button">Don't hesitate &amp; <%= link_to "contact me", "/contactme" %></span>
      </p>
    </div>

    <div>
      <p>
        <span class="twitter-button">... or you can <%= link_to "#{image_tag('twitter_logo_blue.png')}@send_me_a_twitter!".html_safe, @twitter_url %></span>
      </p>
    </div>
  </div>
</div>
<!-- /.container -->