<% include_javascript 'projects/resources.js' %>
<% include_javascript 'projects/fields.js' %>
<% include_dropbox_api %>
<!--<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="zpabeg0ylo7r0vd"></script>-->

<%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
    <div class="form-group">
      <%= f.label 'Sector' %>
      <%= f.select :sector_id, Sector.all.collect { |s| [s.description, s.id] }, {:include_blank => 'Choose ...'}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :name, placeholder: "Put your project display name here..." %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, placeholder: "Put your project description here..." %>
      <%= f.text_area :description, :rows => "5", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :url, placeholder: "Put your project url here..." %>
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :uuid, placeholder: "Put your project uuid here..." %>
      <%= f.text_field :uuid, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label 'Resources' %>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-xs-5">Display Name</th>
              <th class="col-xs-5">File Path</th>
              <th class="col-xs-2">
                <ul class="resource-buttons">
                  <li>
                    <%= link_to_add_resource_fields '<span class="glyphicon glyphicon-plus"></span>'.html_safe, f, :resources %></th>
                  </li>
                </ul>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :resources, @project.resources do |resource_fields| %>
              <%= render :partial => 'resource_fields', :locals => { :f => resource_fields } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit params[:action]=="edit" ? "Save changes" : "Save", class: "btn btn-large btn-primary" %>
    </div>
  </div>
</div>
<% # = debug(f.object) if Rails.env.development? %>