<% include_javascript 'projects/projects_table.js' %>

<table id="projectsTable" class="table-layout">
  <thead>
    <tr>
      <th class="col-xs-3"><%= sortable "name", "Name" %></th>
      <th class="col-xs-3"><%= sortable "sectors.description", "Sector" %></th>
      <th class="col-xs-5">Description</th>
      <th class="col-xs-1">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>

    <tr>
      <td class="name clickable">
        <%= project.name %>
      </td>
      <td class="sector clickable">
        <% if !project.sector.nil? %>
        <%= project.sector.description %>
        <% end %>
      </td>
      <td class="description clickable">
        <%= project.description.html_safe %>
      </td>
      <td>
        <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "You sure?" } %>
      </td>
      
      <input type="hidden" name="id" value="<%= project.id %>" />
    </tr>

    <% end %>
  </tbody>
</table>
<%= will_paginate @projects, renderer: BootstrapPagination::Rails %>