<tr>
  <td>
    <%= f.text_field :display_name, :class => 'resource-display-name-field form-control' %>
  </td>
  
  <td>
    <%= f.text_field :file_path, :class => 'resource-filepath-field form-control' %>
    <% # = f.text_field :filename, :class => 'resource-filename-field', :readonly => true %>
  </td>
  <td style="vertical-align:middle">
    <ul class="resource-buttons">
      <li>
        <%= link_to bs3glyphincon('cloud'), '#resource_dropbox', :role => 'button', :class => 'btn-resource-dropbox' %>
      </li>
      <li>
        <%= link_to bs3glyphincon('upload'), '#resource_upload_dialog', :role => 'button', :class => 'btn-resource-file-upload' %>
      </li>
      <li>
    <!--<td class="mime-type">-->
      <% # = f.select :mime_type, Resource::MIME_TYPES, {:prompt => 'Choose ...'}, :class => 'resource-mime-type-field' %>
    <!--</td>-->
        <%= link_to_remove_fields bs3glyphincon('trash'), f, :resources %>
      </li>
    </ul>
    
  </td>
</tr>
