<header>

  <% content_for :sitenavbarlinks do %>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "Projects", home_path %>
      </li>
      <li>
        <%= link_to "Contact", contact_path %>
      </li>
      <%= render 'layouts/header_contents' %>
    </ul>
    <%= render 'layouts/header_profile' %>
  <% end %>

  <%= render 'layouts/site_navbar' %>

</header>
