<!DOCTYPE html>
<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= yield(:extraheadstyle) %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
		<%= yield(:extrahead) %>
	</head>
	<body>

    <%if current_page?(parallax_path) %>
      <%= yield %>
    <% else %>

      <div id="body">

        <%= render 'layouts/header' %>

        <div class="container-fluid">

          <aside class="col-xm-0 col-lg-3">
            <%= yield(:aside) %>
          </aside>

    			<% flash.each do |key, value| %>
            <div class="row">
              <div class="message-panel-layout">
    				    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
              </div>
            </div>
    			<% end %>
          <div class="row">
            <div class="page-layout">
    			    <%= yield %>
            </div>
          </div>
        </div>

        <%= debug(params) if Rails.env.development? %>
  		</div>
      
      <%= render 'layouts/footer' %>
    <% end %>
    
	</body>
</html>