<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "welcome/main", media: "all" %>
    <%= yield(:extraheadstyle) %>
    
    <%= csrf_meta_tags %>
    
    <%= render 'layouts/shim' %>

    <%= javascript_include_tag "welcome/main" %>
    <%= yield(:extrahead) %>
      
  </head>
  <body>
      <%= yield %>
  </body>
  
</html>
